USE [ovs_common]
GO
/****** Object:  Table [dbo].[WM_INSPECTION]    Script Date: 9/28/2026 11:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WM_INSPECTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIST_ID] [int] NOT NULL,
	[ASSET_ID] [varchar](36) NOT NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[COMPLETION_STATUS] [varchar](1) NULL,
	[COMMENT] [varchar](2000) NULL,
	[ISSUE_PRIORITY] [varchar](1) NULL,
	[COMPLETION_DATE] [datetime] NULL,
	[COMPLETION_USER] [varchar](100) NULL,
	[RESOLUTION_STATUS] [varchar](1) NULL,
	[RESOLUTION_WORK_ORDER] [varchar](10) NULL,
	[RESOLUTION_COMMENT] [varchar](2000) NULL,
	[RESOLUTION_DATE] [datetime] NULL,
	[RESOLUTION_USER] [varchar](100) NULL,
	[lockversion] [int] NULL,
	[address] [varchar](100) NULL,
	[asset_source] [varchar](36) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WM_INSPECTION] ADD  DEFAULT ((0)) FOR [lockversion]
GO
