USE [ovs_common]
GO
/****** Object:  Table [dbo].[INSP_PROGRAM]    Script Date: 9/28/2026 11:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_PROGRAM](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
