USE [ovs_common]
GO
/****** Object:  Table [dbo].[INSP_COMPLETION_STATUS]    Script Date: 9/28/2026 11:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_COMPLETION_STATUS](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL,
	[DISPLAY_ORDER] [int] NULL
) ON [PRIMARY]
GO
