USE [ovs_common]
GO
/****** Object:  Table [dbo].[WM_INSPECTION_LIST]    Script Date: 9/28/2026 11:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WM_INSPECTION_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROGRAM_TYPE] [varchar](4) NULL,
	[PROGRAM_ORDER_KEY] [varchar](20) NULL,
	[SERVICE_ORDNBR] [varchar](10) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](100) NULL,
	[compl_flag] [varchar](1) NULL,
	[compl_date] [date] NULL,
	[lockversion] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WM_INSPECTION_LIST] ADD  DEFAULT ('N') FOR [compl_flag]
GO
