USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_ELECTRIC_LINE_VIEW]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     view [dbo].[INSPECTION_SITE_ELECTRIC_LINE_VIEW] AS
SELECT
'line' as SOURCE,
l.GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
OBJECTID as MAP_KEY,
l.FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
'' as LOCATION,
'' as EQUIPMENT,
GLOBALID,
l.ASSETGROUP,
l.ASSETTYPE,
l.FEEDERID as CIRCUIT
FROM            dbo.ELECTRIC_LINE AS l 
INNER JOIN dbo.EDGE AS e ON l.OBJECTID = e.VIA_OBJECT_ID AND e.VIA_FEAT_CODE in ('PRIM', 'SEC') 
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON l.ASSETGROUP = agt.ASSETGROUP AND l.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_LINE';
GO
