USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_MAP_VIEW]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       VIEW [dbo].[INSPECTION_MAP_VIEW] AS
SELECT 
i.ID as MAP_KEY,
i.COMPLETION_STATUS AS THEME,
dbo.tooltip2('ID', i.ID, 'Address',i.ADDRESS) AS TOOLTIP,
i.X,
i.Y
FROM WM_INSPECTION i
JOIN WM_INSPECTION_LIST l on i.LIST_ID = l.ID
WHERE l.COMPL_FLAG='N'
GO
