USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       view [dbo].[INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW] AS
select 'pole' as SOURCE,
p.GEOM,
GEOM.STX as MIN_X,
GEOM.STY as MIN_Y,
GEOM.STX as MAX_X,
GEOM.STY as MAX_Y,
OBJECTID as MAP_KEY,
FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
LOCATIONID as LOCATION,
POLENUMBER as EQUIPMENT,
GLOBALID,
p.ASSETTYPE,
p.ASSETGROUP
from ELECTRIC_STRUCTURE_JUNCTION p
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON p.ASSETGROUP = agt.ASSETGROUP AND p.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_STRUCTURE_JUNCTION';
GO
