USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_ELECTRIC_DEVICE_VIEW]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       view [dbo].[INSPECTION_SITE_ELECTRIC_DEVICE_VIEW] AS
SELECT
'device' as SOURCE,
l.GEOM,
GEOM.STX as MIN_X,
GEOM.STY as MIN_Y,
GEOM.STX as MAX_X,
GEOM.STY as MAX_Y,
OBJECTID as MAP_KEY,
l.FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
'' as LOCATION,
'' as EQUIPMENT,
GLOBALID,
l.ASSETGROUP,
l.ASSETTYPE,
l.FEEDERID as CIRCUIT
FROM            dbo.ELECTRIC_DEVICE AS l 
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON l.ASSETGROUP = agt.ASSETGROUP AND l.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_DEVICE';
GO
