USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_FEEDER]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[INSPECTION_SITE_FEEDER] as
select l.GLOBALID, l.feederid from electric_line l
where l.ASSETGROUP IN (202, 203)
union all
select sj.globalid, ed.FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_DEVICE ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
union all
select sj.globalid, ed.FEEDERID2 as FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_DEVICE ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
union all
select sj.globalid, ed.FEEDERID as FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_JUNCTION ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 19;
GO
