USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_TRACE_RESULTS]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     view [dbo].[INSPECTION_SITE_TRACE_RESULTS] as
select trace_id, l.GLOBALID from trace_feature tf
join edge e on e.VIA_ELEMENT_ID = tf.FEATURE_NUMBER
join electric_line l on e.VIA_OBJECT_ID = l.OBJECTID
where feature_code = 'PRIM'
union all
select trace_id, sj.GLOBALID from trace_feature tf
join vertex v on v.ELEMENT_ID = tf.FEATURE_NUMBER
join trace_feature_code fc on fc.FEAT_CODE = v.FEAT_CODE and fc.FEATURECLASS = 'ELECTRIC_DEVICE'
join electric_device ed on ed.OBJECTID = v.OBJECT_ID
JOIN ELECTRIC_ATTACHMENT a ON ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
JOIN ELECTRIC_STRUCTURE_JUNCTION sj on sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
union all
select trace_id, sj.GLOBALID from trace_feature tf
join vertex v on v.ELEMENT_ID = tf.FEATURE_NUMBER
join trace_feature_code fc on fc.FEAT_CODE = v.FEAT_CODE and fc.FEATURECLASS = 'ELECTRIC_JUNCTION'
join electric_junction ej on ej.OBJECTID = v.OBJECT_ID
JOIN ELECTRIC_ATTACHMENT a ON ej.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 19
JOIN ELECTRIC_STRUCTURE_JUNCTION sj on sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4;
GO
