USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE]    Script Date: 9/28/2026 11:42:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     view [dbo].[INSPECTION_SITE] AS
select SOURCE,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_ELECTRIC_DEVICE_VIEW
UNION ALL
select SOURCE,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_ELECTRIC_LINE_VIEW
UNION ALL
select SOURCE,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW;
GO
