USE [ovs_common]
GO
/****** Object:  Table [dbo].[INSP_COMPLETION_STATUS]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_COMPLETION_STATUS](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL,
	[DISPLAY_ORDER] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSP_ISSUE_PRIORITY]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_ISSUE_PRIORITY](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL,
	[DISPLAY_ORDER] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSP_PROGRAM]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_PROGRAM](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSP_RESOLUTION_STATUS]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSP_RESOLUTION_STATUS](
	[CODE] [varchar](10) NULL,
	[NAME] [varchar](100) NULL,
	[DISPLAY_ORDER] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WM_INSPECTION]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WM_INSPECTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIST_ID] [int] NOT NULL,
	[ASSET_ID] [varchar](36) NOT NULL,
	[ASSET_TYPE] [varchar](20) NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[COMPLETION_STATUS] [varchar](1) NULL,
	[COMMENT] [varchar](2000) NULL,
	[ISSUE_PRIORITY] [varchar](1) NULL,
	[COMPLETION_DATE] [datetime] NULL,
	[COMPLETION_USER] [varchar](100) NULL,
	[RESOLUTION_STATUS] [varchar](1) NULL,
	[RESOLUTION_WORK_ORDER] [varchar](10) NULL,
	[RESOLUTION_COMMENT] [varchar](2000) NULL,
	[RESOLUTION_DATE] [datetime] NULL,
	[RESOLUTION_USER] [varchar](100) NULL,
	[lockversion] [int] NULL,
	[address] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WM_INSPECTION_LIST]    Script Date: 9/1/2026 8:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WM_INSPECTION_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROGRAM_TYPE] [varchar](4) NULL,
	[PROGRAM_ORDER_KEY] [varchar](20) NULL,
	[SERVICE_ORDNBR] [varchar](10) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](100) NULL,
	[lockversion] [int] NULL,
	[compl_flag] [varchar](1) NULL,
	[compl_date] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WM_INSPECTION] ADD  DEFAULT ((0)) FOR [lockversion]
GO
ALTER TABLE [dbo].[WM_INSPECTION_LIST] ADD  DEFAULT ('N') FOR [compl_flag]
GO
