USE [ovs1]
GO
/****** Object:  View [dbo].[INSPECTION_SITE_ELECTRIC_LINE_VIEW]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[INSPECTION_SITE_ELECTRIC_LINE_VIEW] AS
SELECT
'line' as ASSET_TYPE,
GLOBALID as ASSET_ID,
l.GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
OBJECTID as MAP_KEY,
l.FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
'' as LOCATION,
'' as EQUIPMENT,
GLOBALID,
l.ASSETGROUP,
l.ASSETTYPE,
l.FEEDERID as CIRCUIT
FROM            dbo.ELECTRIC_LINE AS l 
INNER JOIN dbo.EDGE AS e ON l.OBJECTID = e.VIA_OBJECT_ID AND e.VIA_FEAT_CODE in ('PRIM', 'SEC') 
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON l.ASSETGROUP = agt.ASSETGROUP AND l.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_LINE';
GO
/****** Object:  View [dbo].[INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW] AS
select (case when p.ASSETGROUP = 903 then 'vault' else 'pole' end) as ASSET_TYPE,
GLOBALID as ASSET_ID,
p.GEOM,
GEOM.STX as MIN_X,
GEOM.STY as MIN_Y,
GEOM.STX as MAX_X,
GEOM.STY as MAX_Y,
OBJECTID as MAP_KEY,
FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
LOCATIONID as LOCATION,
POLENUMBER as EQUIPMENT,
GLOBALID,
p.ASSETGROUP,
p.ASSETTYPE
from ELECTRIC_STRUCTURE_JUNCTION p
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON p.ASSETGROUP = agt.ASSETGROUP AND p.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_STRUCTURE_JUNCTION'
where p.assetgroup in (101,201,301,903);
GO
/****** Object:  View [dbo].[INSPECTION_SITE_ELECTRIC_DEVICE_VIEW]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     view [dbo].[INSPECTION_SITE_ELECTRIC_DEVICE_VIEW] AS
SELECT
'device' as ASSET_TYPE,
GLOBALID as ASSET_ID,
l.GEOM,
GEOM.STX as MIN_X,
GEOM.STY as MIN_Y,
GEOM.STX as MAX_X,
GEOM.STY as MAX_Y,
OBJECTID as MAP_KEY,
l.FEEDERID, 
agt.ASSETTYPE_NAME as TYPE_DESCRIPTION,
'' as LOCATION,
'' as EQUIPMENT,
GLOBALID,
l.ASSETGROUP,
l.ASSETTYPE,
l.FEEDERID as CIRCUIT
FROM            dbo.ELECTRIC_DEVICE AS l 
INNER JOIN dbo.ASSET_GROUP_TYPE AS agt ON l.ASSETGROUP = agt.ASSETGROUP AND l.ASSETTYPE = agt.ASSETTYPE AND agt.FEATURECLASS = 'ELECTRIC_DEVICE';
GO
/****** Object:  View [dbo].[INSPECTION_SITE]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   view [dbo].[INSPECTION_SITE] AS
select ASSET_TYPE,
ASSET_ID,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_STRUCTURE_JUNCTION_VIEW
UNION ALL
select ASSET_TYPE,
ASSET_ID,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_ELECTRIC_LINE_VIEW
UNION ALL
select ASSET_TYPE,
ASSET_ID,
GEOM,
MIN_X,
MIN_Y,
MAX_X,
MAX_Y,
MAP_KEY,
FEEDERID, 
TYPE_DESCRIPTION,
LOCATION,
EQUIPMENT,
GLOBALID
from INSPECTION_SITE_ELECTRIC_DEVICE_VIEW;
GO
/****** Object:  View [dbo].[INSPECTION_MAP_VIEW]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       VIEW [dbo].[INSPECTION_MAP_VIEW] AS
SELECT 
i.ID as MAP_KEY,
i.COMPLETION_STATUS AS THEME,
dbo.tooltip2('ID', i.ID, 'Address',i.ADDRESS) AS TOOLTIP,
i.X,
i.Y
FROM WM_INSPECTION i
JOIN WM_INSPECTION_LIST l on i.LIST_ID = l.ID
WHERE l.COMPL_FLAG='N'
GO
/****** Object:  View [dbo].[INSPECTION_SITE_FEEDER]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[INSPECTION_SITE_FEEDER] as
select l.GLOBALID, l.feederid from electric_line l
where l.ASSETGROUP IN (202, 203)
union all
select sj.globalid, ed.FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_DEVICE ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
union all
select sj.globalid, ed.FEEDERID2 as FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_DEVICE ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
union all
select sj.globalid, ed.FEEDERID as FEEDERID from ELECTRIC_STRUCTURE_JUNCTION sj
JOIN ELECTRIC_ATTACHMENT a ON sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
JOIN ELECTRIC_JUNCTION ed on ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 19;
GO
/****** Object:  View [dbo].[INSPECTION_SITE_TRACE_RESULTS]    Script Date: 9/1/2026 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     view [dbo].[INSPECTION_SITE_TRACE_RESULTS] as
select trace_id, l.GLOBALID from trace_feature tf
join edge e on e.VIA_ELEMENT_ID = tf.FEATURE_NUMBER
join electric_line l on e.VIA_OBJECT_ID = l.OBJECTID
where feature_code = 'PRIM'
union all
select trace_id, sj.GLOBALID from trace_feature tf
join vertex v on v.ELEMENT_ID = tf.FEATURE_NUMBER
join trace_feature_code fc on fc.FEAT_CODE = v.FEAT_CODE and fc.FEATURECLASS = 'ELECTRIC_DEVICE'
join electric_device ed on ed.OBJECTID = v.OBJECT_ID
JOIN ELECTRIC_ATTACHMENT a ON ed.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 16
JOIN ELECTRIC_STRUCTURE_JUNCTION sj on sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4
union all
select trace_id, sj.GLOBALID from trace_feature tf
join vertex v on v.ELEMENT_ID = tf.FEATURE_NUMBER
join trace_feature_code fc on fc.FEAT_CODE = v.FEAT_CODE and fc.FEATURECLASS = 'ELECTRIC_JUNCTION'
join electric_junction ej on ej.OBJECTID = v.OBJECT_ID
JOIN ELECTRIC_ATTACHMENT a ON ej.GLOBALID = a.TO_GLOBALID and a.TO_NETWORK_SOURCEID = 19
JOIN ELECTRIC_STRUCTURE_JUNCTION sj on sj.GLOBALID = a.FROM_GLOBALID and a.FROM_NETWORK_SOURCEID = 4;
GO
